<h2 class="section-label">Space Travels Overview</h2>
<section class="travelbox">
  <div class="earth-container">
    <app-planet (drop)="onDrop($event,'Earth')" (dragleave)="onDragLeave($event,'Earth')" (dragover)="onDragOver($event,'Earth')" [showBox]="false"
                [routerLink]="['/planet','Earth']" [planet]="{name:'Earth'}"></app-planet>
    <app-planet-ships-container [planet]="'Earth'" (dragstart)="onDragStart('Earth')"></app-planet-ships-container>
  </div>
  <div class="planets-container">
    <div class="planet-container" *ngFor="let planet of planets|async">
      <app-planet-ships-container [planet]="planet.name" (dragstart)="onDragStart('Earth')"></app-planet-ships-container>
      <app-planet (drop)="onDrop($event,planet.name)" (dragleave)="onDragLeave($event,planet.name)" (dragover)="onDragOver($event,planet.name)"
                  [showBox]="boxOnPlanet === planet.name"
                  [planet]="planet">
      </app-planet>
    </div>
  </div>
</section>

