<h2 class="section-label">Space Travels Overview</h2>
<section class="travelbox">
  <div class="earth-container">
    <app-planet [showBox]="false" [routerLink]="['/planet','Earth']" [planet]="{name:'Earth'}"></app-planet>
    <app-my-ships [ships]="myShips$|async"></app-my-ships>
  </div>
  <div class="planets-container">
    <app-planet (drop)="onDrop($event,planet.name)" (dragleave)="onDragLeave($event,planet.name)" (dragover)="onDragOver($event,planet.name)"
                [showBox]="boxOnPlanet === planet.name"
                [routerLink]="['/planet',planet.name]"
                *ngFor="let planet of planets|async"
                [planet]="planet">
    </app-planet>

  </div>
</section>

